@charset "UTF-16";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#76f; color:white;}


/*큰 기기PC등에서만 보이는 부분*/
.wbig {display:block;}

/*스마트폰 등에서만 보이는 부분*/
.wsmall {display:none;}

    /*iPhone SE용 레이아웃*/
.m320 {display:none;}
.no320 {display:block;}


@media screen and (min-width:1200px) {
	/*#LOGO {left:0px; position:absolute;}	*/
	#apple {
		margin:0px auto;
		width:980px;}
	#LOGO {position:absolute;}
	#AppleA11Y {width:20%;}
	main {
		position:relative;
		z-index:5;
		text-align:left;
		width:calc(100% - 160px);
		max-width:1600px;}
	main section {margin:0px;}
	.w980 {
		max-width:1600px;}
	.wpc {padding:0px 23px;}
	footer {padding-top: 34px;}

}
/*iPadPro*/
@media screen and (max-width:1100px) {
	.w980 {width:692px;}
	#Atitle {
		height:63px;
		display: inline-block;
	    margin: 12px 0 -12px;
	    margin-top: 12px;
	    margin-right: 0px;
	    margin-bottom: -12px;
	    margin-left: 0px;}
}
/*SmartPhone,iPad*/
@media screen and (max-width:800px) {
	.w980{width:87.5%;}
	#AppleA11Y h2 {font-size:19px;}
	#AppleA11Y p {font-size:28px;}
	.made {display:block;}
	#Atitle {
		height:63px;
		display: inline-block;
	    margin: 12px 0 -12px;
	    margin-top: 12px;
	    margin-right: 0px;
	    margin-bottom: -12px;
	    margin-left: 0px;}
	footer {
		padding-bottom: calc(max(19px, env(safe-area-inset-bottom)));
		padding-top: 17px;
		}
}







/*폴드,애플워치*/
@media screen and (max-width:300px) {
	#Stitle,h2 span,h2,h3 span,h3,h4 span,h4,h5{font-size:21px;}
	li,li li,dt,dd,p,#hello div {font-size:17px !important;}
	#gochat {z-index:10;}
	#MinP {display:none;}
}
